<mat-toolbar color="primary">
  <button (click)="onCancel()" mat-icon-button aria-label="back button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="choose-flavor-content">
<mat-radio-group
  class="radio-group"
  [(ngModel)]="cupcakeFlavor">
  @for (flavor of cupcakeFlavors; track flavor) {
    <mat-radio-button class="radio-button" [value]="flavor" color="primary">{{flavor}}</mat-radio-button>
    <mat-divider style="margin: 0 10px"></mat-divider>
  }
</mat-radio-group>

<p class="price">Price : {{price | currency : 'CAD'}}</p>
</div>

<div class="buttons">
<button mat-flat-button color="primary" routerLink="/order-summary" (click)="onClickNext()">Next</button>
<button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
</div>
