.cupcake-image{
  height: 400px;
  width: auto;
}

.order-page-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;

}

button{
  width: 15em;
}
